
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Bitcoin Node Information">
        <meta name="author" content="@luisan00">
        
        <title>Webit</title>
        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="./css/bootstrap.min.css">
        <link href='http://fonts.googleapis.com/css?family=Mallanna' rel='stylesheet' type='text/css'> 
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    </head>
    <body style="padding-top: 70px;">
        <div class="container container-fluid">
            <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
                <div class="navbar-header"><a class="navbar-brand"><img alt="webit" src="./img/headbar.png" height="50px" href="#"></a></div>
            </nav>
            <!-- row marketing -->
            <div class="row marketing">
            	<!-- left panels -->
                <div class="col-xs-6">
                    <div class="panel panel-default">
						{% include ../../templates/panel_lastblock.html %}
						{% include ../../templates/modal_lstblock.html %}
                    </div>
                    <div class="panel panel-default">
						{% include ../../templates/panel_diff.html %}
                    </div>
                    <div class="panel panel-default">
						{% include ../../templates/panel_peers.html %}
						{% include ../../templates/modal_peers.html %}
                    </div>
                </div>
                <!-- end left panels -->
                <!-- right panels -->
                <div class="col-xs-6">
                    <div class="panel panel-default">
						{% include ../../templates/panel_softpro.html %}
                    </div>
                    <div class="panel panel-default">
						{% include ../../templates/panel_time.html %}
                    </div>
                    <div class="panel panel-default">
						{% include ../../templates/panel_host.html %}
                    </div> 
                </div>
                <!-- end right panels -->            
            </div>
            <!-- end row marketing -->
        <!-- bottom panel -->
        		{% include ../../templates/powered.html %}
        		{% include ../../templates/tips.html %}       
				{% include ../../templates/footer.html %}    
        <!-- bottom panel --> 
			
       </div> <!-- /container -->
        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="./js/bootstrap.min.js"></script>
      </body>
    </html>
        