<div class="modal fade" id="modalblock" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
     <div class="modal-dialog">
         <div class="modal-content">
             <div class="modal-header">
                 <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                 <h4 class="modal-title"> Block: {{ lastblock[0] }}</h4>
             </div>
             <div class="modal-body" >
             	<h5>
				<table class="table table-striped">
					<tr><th>Height:</th><td>{{ lastblock[0] }}</td></tr>
					<tr><th>Hash:</th><td>{{ lastblock[1] }}</td></tr>
					<tr><th>Difficulty:</th><td>{{ lastblock[2] }}</td></tr>
					<tr><th>Prev. Block:</th><td>{{ lastblock[3] }}</td></tr>
					<tr><th>Size:</th><td>{{ lastblock[4] }}</td></tr>
					<tr><th>Time:</th><td>{{ lastblock[5] }}</td></tr>
					<tr><th>Transactions:</th><td>{{ lastblock[6]}}</td></tr>
				</table>
				</h5>
             </div>
             <div class="modal-footer">
             <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
             <a href="https://blockchain.info/es/block/{{ lastblock[1] }}" target="_blank" type="button" class="btn btn-primary"><em>More</em></a>
             </div>
         </div>
     </div>
 </div>