<div class="panel panel-default">
	<p class="text-center"><strong><em>Run by:</em></strong></p>
	<p class="text-center">
	    <a href="https://www.python.org/" target="_blank" style:"border-style: none;"><img src="./img/python-logo.png" height="50px" alt="python"></a>
	    <a href="http://www.tornadoweb.org" target="_blank" style:"border-style: none;"><img src="./img/tornado-logo.png" height="50px" alt="Tornado"></a>
	    <a href="http://getbootstrap.com/" target="_blank" style:"border-style: none;"><img src="./img/bootstrap-solid.svg" height="40px" alt="Bootstrap"></a>      
	    <em>  and of course!! with </em>
	    <a href="http://www.bitcoin.org/" target="_blank" style:"border-style: none;"><img src="./img/bitcoin-logo.svg" height="45px" alt="Bitcoin"></a>
	    <em> and thanks to all Bitcoin Network supporters.</em> 
	</p>
</div>