<p class="text-center">
    <br>&nbsp;</br>
    <small><em>If you like this, please consider a contribution ->&nbsp;<em></small>
    <button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#blocktips"><span class="glyphicon glyphicon-qrcode" aria-hidden="true"></span></button>
        <div class="modal fade" id="blocktips" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title"> * Scan & Tip </h4>
                    </div>
                    <div class="modal-body text-center">
                        <img src="./img/qr.png" alt="address">
                        <p>&nbsp;</p>
                        <strong>19jFVjhkhJqWS8ngNxQ5rFjhnvjroXWFqU</strong>
                    </div>
                    <div class="modal-footer"></div>
                </div>
            </div>
        </div>
</p>